@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap");
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #fbfbf8;
}

a {
  text-decoration: none;
}

@media (max-width: 1600px) {
  * {
    font-size: 8px;
  }
}
@media (max-width: 1366px) {
  * {
    font-size: 7px;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.2rem, 0, 0);
  }
  20%, 80% {
    transform: translate3d(0.4rem, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-0.8rem, 0, 0);
  }
  40%, 60% {
    transform: translate3d(0.4rem, 0, 0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes backgroundColor {
  0% {
    background-color: #aabbff;
  }
  33% {
    background-color: #b8abf5;
  }
  66% {
    background-color: #abe9f5;
  }
  100% {
    background-color: #aabbff;
  }
}
body {
  overflow-x: hidden;
}

.global--dashboard {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15% auto;
  grid-template-rows: 5vw auto;
}

.navigation--side {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  align-items: center;
  justify-items: center;
  background-color: #33384d;
  padding: 1.25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation__logo {
  height: 5vw;
  width: 5vw;
  -webkit-mask-image: url(../assets/svg/smile.svg);
  mask-image: url(../assets/svg/smile.svg);
  background-color: #dee4ff;
}

.navigation__logo:hover {
  background-color: #aabbff;
  cursor: grab;
}

.navigation__button--active .navigation__icon {
  background-color: #aabbff;
}
.navigation__button--active .navigation__text {
  color: #aabbff;
}

.navigation__button:hover .navigation__icon {
  background-color: #aabbff;
}
.navigation__button:hover .navigation__text {
  color: #aabbff;
}

.navigation__icon {
  height: 2.5vw;
  width: 2.5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigation__icon--dashboard {
  -webkit-mask-image: url(../assets/svg/dashboard.svg);
  mask-image: url(../assets/svg/dashboard.svg);
  background-color: #dee4ff;
}

.navigation__icon--calendar {
  -webkit-mask-image: url(../assets/svg/calendar.svg);
  mask-image: url(../assets/svg/calendar.svg);
  background-color: #dee4ff;
}

.navigation__icon--courses {
  -webkit-mask-image: url(../assets/svg/book.svg);
  mask-image: url(../assets/svg/book.svg);
  background-color: #dee4ff;
}

.navigation__icon--clock {
  -webkit-mask-image: url(../assets/svg/clock.svg);
  mask-image: url(../assets/svg/clock.svg);
  background-color: #dee4ff;
}

.navigation__icon--settings {
  -webkit-mask-image: url(../assets/svg/cog.svg);
  mask-image: url(../assets/svg/cog.svg);
  background-color: #dee4ff;
}

.navigation__text {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #dee4ff;
  text-align: center;
  margin-bottom: 2.5vw;
}

.header {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  justify-items: center;
  align-items: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__profile {
  display: flex;
  flex-direction: row;
}

.header__text {
  font-family: "Open Sans", sans-serif;
  font-size: 5.9rem;
  font-weight: 300;
  letter-spacing: -0.05rem;
  color: #33384d;
}

.header__icon {
  height: 2.5vw;
  width: 2.5vw;
  margin-left: 1.25vw;
  margin-right: 1.25vw;
  display: block;
  cursor: pointer;
}

.header__icon:hover {
  background-color: #aabbff;
}

.header__icon--notifications {
  -webkit-mask-image: url(../assets/svg/bell.svg);
  mask-image: url(../assets/svg/bell.svg);
  background-color: #33384d;
}

.header__icon--profile {
  -webkit-mask-image: url(../assets/svg/exit.svg);
  mask-image: url(../assets/svg/exit.svg);
  background-color: #33384d;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 2.5vw;
}

.greeting {
  grid-column-start: 1;
  grid-column-end: span 9;
  grid-row-start: 1;
  grid-row-end: span 3;
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  border-radius: 0.5vw;
  background-color: #dee4ff;
  padding: 2.5vw 2.5vw 0 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.greeting__headline {
  font-family: "Open Sans", sans-serif;
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  color: #33384d;
}

.greeting__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.015rem;
  padding-top: 0.5vw;
  color: #33384d;
}

.greeting__subtitle--alternative {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
  color: #33384d;
}

#greeting__update__title {
  font-size: 1.6rem;
  position: absolute;
  bottom: 6rem;
}

#greeting__update {
  font-size: 1.4rem;
  position: absolute;
  bottom: 4rem;
}

.greeting__image {
  height: 10vw;
  right: 0;
  bottom: 0;
}

.calendar {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 4;
  grid-row-end: span 6;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vw;
  align-items: center;
  justify-items: center;
  padding: 1.25vw;
  border-radius: 0.5vw;
  background-color: #f5f5f5;
}

.calendar__headline {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 1;
  grid-row-end: span 1;
  justify-self: start;
  color: #33384d;
}

.calendar__button {
  position: relative;
  outline: 0;
  width: 75%;
  height: 0;
  padding-top: 75%;
  border-radius: 50%;
  background-color: #aabbff;
  border: none;
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
}

.calendar__button:hover {
  background-color: #33384d;
  cursor: pointer;
}

.page__container {
  display: none;
}

.page__button {
  position: relative;
  outline: 0;
  width: 75%;
  height: 75%;
  padding-top: 50%;
  border-radius: 50%;
  background-color: #aabbff;
  border: none;
  transform: scale(0.5);
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
}

.page__button:hover {
  background-color: #33384d;
  cursor: pointer;
}

.calendar__icon {
  height: 75%;
  width: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page__icon {
  height: 75%;
  width: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.calendar__weekdays {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  color: #aabbff;
}

.calendar__day {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #33384d;
}

.calendar__day--inactive {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #a8a8a8;
}

.calendar__day--container {
  position: relative;
  width: 75%;
  height: 0;
  padding-top: 75%;
  border-radius: 50%;
  background-color: #aabbff;
}

.calendar__day--today {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fbfbf8;
}

.calendar__day--container--emphasized {
  position: relative;
  width: 75%;
  height: 0;
  padding-top: 75%;
  border-radius: 50%;
  background-color: #ffeeab;
}

.calendar__day--emphasized {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alarms {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  grid-column-start: 5;
  grid-column-end: span 5;
  grid-row-start: 4;
  grid-row-end: span 6;
  border-radius: 0.5vw;
  background-color: #f5f5f5;
  padding: 1.25vw;
}

.alarms__headline {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #33384d;
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.alarms__container {
  display: flex;
  flex-direction: row;
}

.alarms__digital {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  color: #33384d;
  text-align: center;
  padding-top: 1vw;
}

.alarms__time {
  display: inline-block;
}

.alarms__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 1.25vw;
  width: 100%;
  padding-left: 1vw;
}

.alarms__module {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  background-color: #fbfbf8;
  padding: 1.25vw;
  display: none;
  flex-direction: row;
}

#alarms__module1 {
  display: flex;
}

.alarms__container--icon {
  height: 0;
  width: 25%;
  padding-top: 25%;
  position: relative;
  border-radius: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

.alarms__container--green {
  background-color: #a0efcc;
}

.alarms__container--cyan {
  background-color: #abe9f5;
}

.alarms__container--blue {
  background-color: #aabbff;
}

.alarms__icon {
  height: 65%;
  width: 65%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.alarms__container--icon:hover {
  background-color: #ff6767;
  cursor: pointer;
}

.alarms__container--icon:hover .alarms__icon {
  content: url("../assets/svg/trash.svg");
}

.tasks__container--icon:hover {
  background-color: #ff6767;
  cursor: pointer;
}

.tasks__container--icon:hover .tasks__icon {
  content: url("../assets/svg/trash.svg");
}

.alarms__text {
  padding-left: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
}

.alarms__timer {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  color: #33384d;
}

.alarms__title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.015rem;
  color: #33384d;
}

.clock {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  width: 16vw;
  height: 16vw;
  background: #fbfbf8 url(../assets/svg/clock-face.svg);
  background-size: cover;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.75vw solid #fbfbf8;
  box-shadow: inset 0 0 2rem rgba(168, 168, 168, 0.1);
}

.clock::before {
  content: "";
  position: absolute;
  height: 0.75vw;
  width: 0.75vw;
  background-color: #a8a8a8;
  border-radius: 50%;
  border: 0.4rem solid #fbfbf8;
  z-index: 4;
}

.clock__container {
  position: absolute;
}

.clock__container--hour {
  height: 8vw;
  width: 8vw;
}

.clock__container--minute {
  height: 10vw;
  width: 10vw;
}

.clock__container--second {
  height: 12.5vw;
  width: 12.5vw;
}

.clock__hour {
  height: 8vw;
  width: 8vw;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.clock__hour::before {
  content: "";
  position: absolute;
  width: 0.4vw;
  height: 4vw;
  background-color: #33384d;
  z-index: 1;
  border-radius: 0.2vw;
}

.clock__minute {
  height: 10vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.clock__minute::before {
  content: "";
  position: absolute;
  width: 0.2vw;
  height: 5vw;
  background-color: #a8a8a8;
  z-index: 2;
  border-radius: 0.1vw;
}

.clock__second {
  height: 12.5vw;
  width: 12.5vw;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.clock__second::before {
  content: "";
  position: absolute;
  width: 0.1vw;
  height: 8vw;
  background-color: #ff6767;
  z-index: 3;
  border-radius: 0.05vw;
}

.course__headline {
  grid-column-start: 1;
  grid-column-end: span 9;
  grid-row-start: 10;
  grid-row-end: span 1;
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #33384d;
  align-self: center;
  display: none;
}

.course__container {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  border-radius: 0.5vw;
  padding: 1.25vw;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
}

.course__container--first {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 11;
  grid-row-end: span 2;
  background-color: #a0efcc;
}

.course__container--second {
  grid-column-start: 4;
  grid-column-end: span 3;
  grid-row-start: 11;
  grid-row-end: span 2;
  background-color: #abe9f5;
}

.course__container--third {
  grid-column-start: 7;
  grid-column-end: span 3;
  grid-row-start: 11;
  grid-row-end: span 2;
  background-color: #aabbff;
}

.course__container--icon {
  position: relative;
  height: 0;
  width: 25%;
  padding-top: 25%;
  border-radius: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

.course__container--green {
  background-color: #85c7aa;
}

.course__container--cyan {
  background-color: #8fc2cc;
}

.course__container--blue {
  background-color: #909ed6;
}

.course__icon {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.course__text {
  padding-left: 1.25vw;
  margin-top: auto;
  margin-bottom: auto;
}

.course__title {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  color: #33384d;
}

.course__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
  color: #33384d;
  padding-top: 0.5vw;
}

.tasks {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  grid-column-start: 10;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 12;
  border-radius: 0.5vw;
  background-color: #f5f5f5;
  padding: 1.25vw;
}

.tasks__headline {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #33384d;
  padding-bottom: 0.5vw;
}

.tasks__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 1vw;
  height: 90%;
}

.tasks__container {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  background-color: #fbfbf8;
  border-radius: 0.5vw;
  padding: 1.25vw;
  display: none;
  flex-direction: row;
}

.tasks__container--icon {
  position: relative;
  height: 0;
  width: 25%;
  padding-top: 25%;
  border-radius: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

.tasks__container--context--icon {
  position: relative;
  height: 0;
  width: 25%;
  padding-top: 25%;
  border-radius: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
  margin: auto;
}

.tasks__container--green {
  background-color: #a0efcc;
}

.tasks__container--cyan {
  background-color: #abe9f5;
}

.tasks__container--blue {
  background-color: #aabbff;
}

.tasks__container--violet {
  background-color: #b8abf5;
}

.plus__container {
  padding: 0.1vw !important;
  background-color: #a0efcc !important;
}

.plus__container__back {
  background-color: #fbfbf8 !important;
  padding: 1.3vw !important;
  display: none;
  height: 100%;
  width: 100%;
  border-radius: 0.5vw;
}

.plus__text {
  margin: auto !important;
}

.plus__title {
  color: #fbfbf8 !important;
  font-size: 10rem !important;
}

#plus__title__event {
  font-size: 8rem !important;
}

.plus__container:hover {
  background-color: #85c7aa !important;
  cursor: pointer !important;
}

.plus__container:hover #plus__title {
  color: #f5f5f5 !important;
}

.plus__container__parent {
  display: flex;
  flex-direction: column;
}

.plus__container--icon__parent {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.plus__container--icon {
  margin: auto;
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 0.5vw;
  flex-shrink: 0;
}

.plus__container--icon__check {
  background-color: #a0efcc;
}

.plus__container--icon__cross {
  background-color: #ff6767;
}

.plus__container--icon__check:hover {
  background-color: #85c7aa;
  cursor: pointer;
}

.plus__container--icon__cross:hover {
  background-color: #b14242;
  cursor: pointer;
}

.plus__container__error {
  color: #ff6767 !important;
}

.tasks__icon {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tasks__text {
  padding-left: 1.25vw;
  margin-top: auto;
  margin-bottom: auto;
}

.tasks__title {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
  color: #33384d;
}

.tasks__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
  color: #33384d;
}

.material__group {
  position: relative;
  margin-bottom: 3rem;
}

.material__input {
  font-size: 1.7rem;
  padding: 1rem 1rem 0.3rem 0.5rem;
  display: block;
  width: 85%;
  border: none;
  border-bottom: 0.1rem solid #757575;
  background-color: #fbfbf8;
}

.material__input:focus {
  outline: none;
}

.material__label {
  color: #999;
  font-size: 1.7rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.5rem;
  top: 0.8rem;
  transition: 0.2s ease all;
}

.material__input:focus ~ .material__label, .material__input:valid ~ .material__label {
  top: -1.5rem;
  font-size: 1.3rem;
  color: #5264AE;
}

.material__bar {
  position: relative;
  display: block;
  width: 85%;
}

.material__bar:before, .material__bar:after {
  content: "";
  height: 0.2rem;
  width: 0;
  bottom: 0.1rem;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
}

.material__bar:before {
  left: 50%;
}

.material__bar:after {
  right: 50%;
}

.material__input:focus ~ .material__bar:before, .material__input:focus ~ .material__bar:after {
  width: 50%;
}

#events__plus__container__back {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  padding: 0.3vw !important;
}

#events__plus__container__back .page__container {
  display: flex !important;
  width: 10rem;
  margin: auto;
  transform: scale(1.4);
}

#events__plus__container__back .material__group {
  margin: 2rem auto auto 1rem;
  display: none;
  z-index: 10;
}

#events__plus__container__back .material__bar {
  display: none !important;
}

#events__plus__container__back .material__input {
  padding-top: 0;
  font-size: 2rem;
  height: 100%;
}

#events__plus__container__back .material__input:focus ~ .material__label, .material__input:valid ~ .material__label {
  top: -2rem !important;
}

#events__plus__container__back .material__label {
  top: 0.5rem;
}

#events__plus__container__back .plus__container--icon {
  padding: 15%;
  margin: auto;
}

#events__plus__container__back .events__icon {
  margin: auto 1rem auto 1rem;
}

.login__background {
  animation: backgroundColor 20s infinite;
  width: 100vw;
  height: 100vh;
}

.login__parent {
  position: fixed;
  top: 20vh;
  width: 100vw;
  text-align: center;
}

.ui.button {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
}
.ui.button.google-auth__button {
  margin-top: 2vh;
  padding: 1rem 1.5rem;
  background: #f5f5f5;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 1.5em;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.54);
  transition: 0.1s ease-out;
  outline: none;
  border: 0;
}
.ui.button.google-auth__button:hover {
  cursor: pointer;
  background: #a8a8a8;
}
.ui.button.google-auth__button .google-auth__logo {
  display: inline-block;
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  vertical-align: top;
.courses {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  padding: 2.5vw;
}

.courses__scheduleApply {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 6;
  border-radius: 0.5vw;
  padding: 1.25vw;
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
}

.courses__scheduleCreate {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 7;
  grid-row-end: span 6;
  border-radius: 0.5vw;
  padding: 1.25vw;
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
}

.courses__scheduleDisplay {
  grid-column-start: 5;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 12;
  border-radius: 0.5vw;
  padding: 1.25vw;
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
}

.courses__coursesDisplay {
  grid-column-start: 8;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 12;
  border-radius: 0.5vw;
  padding: 1.25vw;
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
}

.courses__headline {
  padding-bottom: 0.5vw;
  color: #33384d;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.015rem;
}

.courses__text {
  padding-bottom: 1.25vw;
  color: #33384d;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.courses__text--alternative {
  color: #33384d;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
}

.courses__text--alternative[data-text=placeholder] {
  color: #a8a8a8;
}

.courses__label {
  color: #33384d;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.courses__dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 16vw;
  margin-top: 0.5vw;
  margin-bottom: 0.75vw;
  border: 2px solid #a8a8a8;
  border-radius: 0.25vw;
  padding: 0.5vw;
  cursor: pointer;
}

.courses__options {
  position: absolute;
  width: 16vw;
  border-top: 2px solid #a8a8a8;
  border-radius: 0 0 0.5vw 0.5vw;
  background-color: #fbfbf8;
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  transform: translateY(calc(-0.75vw - 2px));
  z-index: 1;
}

.courses__options[data-visibility=hidden] {
  visibility: hidden;
}

.courses__option {
  width: 100%;
  padding: 0.5vw;
  cursor: pointer;
}

.courses__option:hover {
  background-color: #e6e6e6;
}

.courses__option:last-child:hover {
  border-radius: 0 0 0.5vw 0.5vw;
}

.courses__icon {
  height: 1vw;
  width: 1vw;
}

.courses__button {
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  width: 100%;
  height: 2.5vw;
  margin: 0.5vw 0 0 0;
  padding: 1rem 2rem;
  background-color: #aabbff;
  border: none;
  border-radius: 1.25vw;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.courses__button:hover {
  background-color: #33384d;
}

.courses__text--button {
  margin: auto;
  color: #fbfbf8;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.courses__input--text {
  width: 16vw;
  margin-top: 0.5vw;
  margin-bottom: 0.75vw;
  border: 2px solid #a8a8a8;
  border-radius: 0.25vw;
  padding: 0.5vw;
  background-color: #f5f5f5;
  color: #33384d;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
}

.courses__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.courses__button--minimal {
  height: 1.5vw;
  width: 1.5vw;
  margin: 0 0.5vw;
  border: none;
  border-radius: 0.75vw;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.courses__button--minimal[data-active=false] {
  background-color: #a8a8a8;
}

.courses__button--minimal[data-active=true] {
  background-color: #aabbff;
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
  cursor: pointer;
}

.courses__button--minimal[data-active=true]:hover {
  background-color: #33384d;
}

.courses__container--items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0.5vw;
  height: calc(100% - 2vw);
  width: 100%;
}

.courses__container--text {
  padding: 0.25vw;
}

.courses__container--item {
  display: flex;
  flex-direction: row;
  border-radius: 0.5vw;
  padding: 0.5vw;
  box-shadow: 0 5px 10px rgba(168, 168, 168, 0.15);
}

.courses__container--item:nth-child(1) {
  background-color: #aabbff;
}
.courses__container--item:nth-child(1) .courses__container--icon {
  background-color: #909ed6;
}

.courses__container--item:nth-child(2) {
  background-color: #dee4ff;
}
.courses__container--item:nth-child(2) .courses__container--icon {
  background-color: #aabbff;
}

.courses__container--item:nth-child(3) {
  background-color: #aabbff;
}
.courses__container--item:nth-child(3) .courses__container--icon {
  background-color: #909ed6;
}

.courses__container--item:nth-child(4) {
  background-color: #dee4ff;
}
.courses__container--item:nth-child(4) .courses__container--icon {
  background-color: #aabbff;
}

.courses__container--item:nth-child(5) {
  background-color: #aabbff;
}
.courses__container--item:nth-child(5) .courses__container--icon {
  background-color: #909ed6;
}

.courses__container--item:nth-child(6) {
  background-color: #dee4ff;
}
.courses__container--item:nth-child(6) .courses__container--icon {
  background-color: #aabbff;
}

.courses__container--item:nth-child(7) {
  background-color: #aabbff;
}
.courses__container--item:nth-child(7) .courses__container--icon {
  background-color: #909ed6;
}

.courses__container--item:nth-child(8) {
  background-color: #dee4ff;
}
.courses__container--item:nth-child(8) .courses__container--icon {
  background-color: #aabbff;
}

.courses__container--item:nth-child(9) {
  background-color: #aabbff;
}
.courses__container--item:nth-child(9) .courses__container--icon {
  background-color: #909ed6;
}

.courses__container--icon {
  height: 3vw;
  width: 3vw;
  margin: auto 1vw auto 0;
  border-radius: 0.5vw;
  padding: 0.5vw;
}

.courses__subtitle {
  margin-top: 0.25vw;
  color: #33384d;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
}

.courses__item--icon {
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
