<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/main.css" />
  </head>
  <body>
    <nav>
      <div class="nav">
        <div class="nav__logo-container">
          <a class="nav__text" href="">Home</a>
        </div>
        <div class="nav__text-container">
          <a class="nav__text" href="">Calendar</a>
          <a class="nav__text" href="">Reminders</a>
          <a class="nav__text" href="">Events</a>
          <a class="nav__text" href="">Clock</a>
        </div>
        <div class="nav__icon-container">
          <a href="">
            <img class="nav__icon" src="images/icons/notifications.svg" />
          </a>
        </div>
        <div class="nav__icon-container nav__icon-container--col-12">
          <a href="">
            <img class="nav__icon" src="images/icons/account.svg" />
          </a>
        </div>
      </div>
    </nav>
    <div class="dashboard-block">
      <h6 class="dashboard-block__headline">Calendar</h6>
      <div class="dashboard-block__calendar"></div>
    </div>
  </body>
</html>
