<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loop: Courses</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    <link rel="icon" type="image/png" href="../assets/svg/smile.svg">
  </head>
  <body>
    <div class="global--dashboard">
      <nav class="navigation--side">
        <a class="navigation__logo" href="/profile/dashboard"> </a>
        <div class="navigation__container">
          <a class="navigation__button" href="/profile/dashboard">
            <span class="navigation__icon navigation__icon--dashboard"> </span>
            <p class="navigation__text">
              Your Dashboard
            </p>
          </a>
          <a
            class="navigation__button navigation__button--active"
            href="#"
          >
            <span class="navigation__icon navigation__icon--courses"></span>
            <p class="navigation__text navigation__text--active">Your Courses</p>
          </a>
        </div>
        <a class="navigation__button" href="/profile/internals">
          <span class="navigation__icon navigation__icon--settings"></span>
          <p class="navigation__text">Your Settings</p>
        </a>
      </nav>
      <header class="header">
        <h2 class="header__text" id="header__text">Your Courses</h2>
        <div class="header__profile">
          <a class="header__button" href="/auth/logout">
            <span class="header__icon header__icon--profile"></span>
          </a>
        </div>
      </header>
      <main class="courses">
        <div class="courses__scheduleApply">
          <h6 class="courses__headline">Schedule Times</h6>
          <p class="courses__text">
            Select a schedule and its respective weekday to indicate when your
            schedule occurs throughout the week.
          </p>
          <label class="courses__label">Schedule</label>
          <div class="courses__container--dropdown">
            <div class="courses__dropdown" id="dropdown__schedule">
              <p
                class="courses__text--alternative"
                id="text__schedule"
                data-text="placeholder"
              >
                Schedule Name
              </p>
              <img
                src="../assets/svg/caret--down.svg"
                class="courses__icon"
                id="icon__schedule"
              />
            </div>
            <div
              class="courses__options"
              id="options__schedule"
              data-visibility="hidden"
            >
              <div class="courses__option">
                <p class="courses__text--alternative">Schedule 1A</p>
              </div>
              <div class="courses__option">
                <p class="courses__text--alternative">Schedule 2A</p>
              </div>
            </div>
          </div>
          <label class="courses__label">Weekday</label>
          <div class="courses__container--dropdown">
            <div class="courses__dropdown" id="dropdown__weekday">
              <p
                class="courses__text--alternative"
                id="text__weekday"
                data-text="placeholder"
              >
                Weekday
              </p>
              <img
                src="../assets/svg/caret--down.svg"
                class="courses__icon"
                id="icon__weekday"
              />
            </div>
            <div
              class="courses__options"
              id="options__weekday"
              data-visibility="hidden"
            >
              <div class="courses__option">
                <p class="courses__text--alternative">Monday</p>
              </div>
              <div class="courses__option">
                <p class="courses__text--alternative">Tuesday</p>
              </div>
              <div class="courses__option">
                <p class="courses__text--alternative">Wednesday</p>
              </div>
              <div class="courses__option">
                <p class="courses__text--alternative">Thursday</p>
              </div>
              <div class="courses__option">
                <p class="courses__text--alternative">Friday</p>
              </div>
              <div class="courses__option">
                <p class="courses__text--alternative">Saturday</p>
              </div>
              <div class="courses__option">
                <p class="courses__text--alternative">Sunday</p>
              </div>
            </div>
          </div>
          <button class="courses__button">
            <p class="courses__text--button">Apply</p>
          </button>
        </div>
        <div class="courses__scheduleCreate">
          <h6 class="courses__headline">New Schedules</h6>
          <p class="courses__text">
            Create a new schedule to indicate the starting and ending times of
            periods within a day.
          </p>
          <label class="courses__label">Schedule Name</label>
          <input class="courses__input--text" placeholder="Schedule Name" />
          <button class="courses__button">
            <p class="courses__text--button">Create</p>
          </button>
        </div>
        <div class="courses__scheduleDisplay">
          <div class="courses__header">
            <h6 class="courses__headline">Schedule 1A</h6>
            <div class="courses__container--navigation">
              <button
                class="courses__button--minimal"
                id="nav__scheduleLeft"
                data-active="false"
              >
                <img
                  src="../assets/svg/arrow-left.svg"
                  class="courses__icon--button"
                />
              </button>
              <button
                class="courses__button--minimal"
                id="nav__scheduleRight"
                data-active="false"
              >
                <img
                  src="../assets/svg/arrow-right.svg"
                  class="courses__icon--button"
                />
              </button>
            </div>
          </div>
          <div class="courses__container--items">
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img src="../assets/svg/alarm.svg" class="courses__item--icon" />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Period 1</p>
                <p class="courses__subtitle">08:00 AM - 08:41 AM</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img src="../assets/svg/alarm.svg" class="courses__item--icon" />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Period 2</p>
                <p class="courses__subtitle">08:45 AM - 09:26 AM</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img src="../assets/svg/alarm.svg" class="courses__item--icon" />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Period 3</p>
                <p class="courses__subtitle">09:30 AM - 10:17 AM</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img src="../assets/svg/alarm.svg" class="courses__item--icon" />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Period 4</p>
                <p class="courses__subtitle">10:21 AM - 11:02 AM</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img src="../assets/svg/alarm.svg" class="courses__item--icon" />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Period 5</p>
                <p class="courses__subtitle">11:06 AM - 11:47 AM</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img src="../assets/svg/alarm.svg" class="courses__item--icon" />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Period 6</p>
                <p class="courses__subtitle">11:51 AM - 12:32 PM</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img src="../assets/svg/alarm.svg" class="courses__item--icon" />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Period 7</p>
                <p class="courses__subtitle">12:36 PM - 1:17 PM</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img src="../assets/svg/alarm.svg" class="courses__item--icon" />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Period 8</p>
                <p class="courses__subtitle">01:21 PM - 02:02 PM</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img src="../assets/svg/alarm.svg" class="courses__item--icon" />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Period 9</p>
                <p class="courses__subtitle">02:06 PM - 02:47 PM</p>
              </div>
            </div>
          </div>
        </div>
        <div class="courses__coursesDisplay">
          <div class="courses__header">
            <h6 class="courses__headline">Monday's Courses</h6>
            <div class="courses__container--navigation">
              <button
                class="courses__button--minimal"
                id="nav__courseLeft"
                data-active="true"
              >
                <img
                  src="../assets/svg/arrow-left.svg"
                  class="courses__icon--button"
                />
              </button>
              <button
                class="courses__button--minimal"
                id="nav__courseRight"
                data-active="true"
              >
                <img
                  src="../assets/svg/arrow-right.svg"
                  class="courses__icon--button"
                />
              </button>
            </div>
          </div>
          <div class="courses__container--items">
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img
                  src="../assets/svg/book--light.svg"
                  class="courses__item--icon"
                />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Journalism</p>
                <p class="courses__subtitle">Period 1</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img
                  src="../assets/svg/book--light.svg"
                  class="courses__item--icon"
                />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Physics</p>
                <p class="courses__subtitle">Period 2</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img
                  src="../assets/svg/book--light.svg"
                  class="courses__item--icon"
                />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Physical Education</p>
                <p class="courses__subtitle">Period 3</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img
                  src="../assets/svg/book--light.svg"
                  class="courses__item--icon"
                />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Multivariable Calculus</p>
                <p class="courses__subtitle">Period 4</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img
                  src="../assets/svg/book--light.svg"
                  class="courses__item--icon"
                />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">
                  AP Computer Science Principles
                </p>
                <p class="courses__subtitle">Period 5</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img
                  src="../assets/svg/book--light.svg"
                  class="courses__item--icon"
                />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Cybersecurity</p>
                <p class="courses__subtitle">Period 6</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img
                  src="../assets/svg/book--light.svg"
                  class="courses__item--icon"
                />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Lunch</p>
                <p class="courses__subtitle">Period 7</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img
                  src="../assets/svg/book--light.svg"
                  class="courses__item--icon"
                />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">
                  AP United States Government and Politics
                </p>
                <p class="courses__subtitle">Period 8</p>
              </div>
            </div>
            <div class="courses__container--item">
              <div class="courses__container--icon">
                <img
                  src="../assets/svg/book--light.svg"
                  class="courses__item--icon"
                />
              </div>
              <div class="courses__container--text">
                <p class="courses__text--alternative">Other Course</p>
                <p class="courses__subtitle">Period 9</p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script type="module" src="../scripts/main.js"></script>
  </body>
</html>
