<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body{
            font-family: arial;
            margin: 0;
        }
        nav{
            background: #ff5353;
            padding: 20px 10px;
        }
        nav ul{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        nav a{
            color: #fff;
            font-size: 18px;
            background: rgba(255,255,255,0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        main, header{
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        button, input {
            width: 40%;
            height: 5%;
            font-size: 30px;
            margin: 1%;
        }
        .error {
            color: red;
        }
        .success {
            color: green;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <% if (!user) { %>
            <li><a href="/auth/login">Login</a></li>
            <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/profile/dashboard">Dashboard</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to the Frontend Demo Website!</h1>
    </header>
    <main>
        <h4>First, make a new schedule!</h4>
        <p>Schedule name</p>
        <input type="text" id="scheduleInputSchedule"></input>
        <br>
        <button id="scheduleInputButton">Upload schedule</button>
        <p class="error" id="scheduleError"></p>
        <p class="success" id="scheduleSuccess"></p>
        
        <h4>Now, a day.</h4>
        <p>Day (0 for monday, 1 for tuesday, etc...)</p>
        <input type="text" id="dayInputDay"></input>
        <br>
        <p>For which schedule?</p>
        <input type="text" id="dayInputSchedule"></input>
        <br>
        <button id="dayInputButton">Upload day</button>
        <p class="error" id="dayError"></p>
        <p class="success" id="daySuccess"></p>
        
        <h4>Add a period to a schedule!!</h4>
        <p>For which schedule?</p>
        <input type="text" id="periodInputForSchedule"></input>
        <br>
        <p> Period number</p>
        <input type="text" id="periodInputPeriod"></input>
        <br>
        <p>Hour of period start</p>
        <input type="text" id="periodInputHourStart"></input>
        <br>
        <p>Minute of period start</p>
        <input type="text" id="periodInputMinuteStart"></input>
        <br>
        <p>PM? start</p>
        <input type="checkbox" id="periodInputAPMStart"></input>
        <br>
        <p>Hour of period end</p>
        <input type="text" id="periodInputHourEnd"></input>
        <br>
        <p>Minute of period end</p>
        <input type="text" id="periodInputMinuteEnd"></input>
        <br>
        <p>PM? end</p>
        <input type="checkbox" id="periodInputAPMEnd"></input>
        <br>
        <!--
        <input type="radio" id="inputAM" value="false">
        <label for="inputAM">AM</label><br>
        <input type="radio" id="inputPM" value="true">
        <label for="inputPM">PM</label><br>  
        -->
        <button id="periodInputButton">Upload period</button>
        <p class="error" id="periodError"></p>
        <p class="success" id="periodSuccess"></p>
        
        <h4>What's the course for each of those periods?</h4>
        <p>On which day?</p>
        <input type="text" id="courseInputDay"></input>
        <br>
        <p>What period?</p>
        <input type="text" id="courseInputPeriod"></input>
        <br>
        <p>What's the course for that period?</p>
        <input type="text" id="courseInputCourse"></input>
        <br>
        <button id="courseInputButton">Upload course</button>
        <p class="error" id="courseError"></p>
        <p class="success" id="courseSuccess"></p>
        
        <h4>Now retrieve it...</h4>
        <p>Which schedule?</p>
        <input type="text" id="scheduleRetrieveSchedule"></input>
        <br>
        <button id="scheduleRetrieveButton">Get schedule</button>
        <p class="error" id="scheduleGetError"></p>
        <p class="success" id="scheduleGetSuccess"></p>
        <ul>
            <p id="periodDisplayPeriod0"></p>
            <p id="periodDisplayTimeStart0"></p>
            <p id="periodDisplayEnd0"></p>
        </ul>
        <br>
        <ul>
            <p id="periodDisplayPeriod1"></p>
            <p id="periodDisplayTimeStart1"></p>
            <p id="periodDisplayEnd1"></p>
        </ul>
        <br>
        <ul>
            <p id="periodDisplayPeriod2"></p>
            <p id="periodDisplayTimeStart2"></p>
            <p id="periodDisplayEnd2"></p>
        </ul>
        <br>
        <ul>
            <p id="periodDisplayPeriod3"></p>
            <p id="periodDisplayTimeStart3"></p>
            <p id="periodDisplayEnd3"></p>
        </ul>
        <br>
        <ul>
            <p id="periodDisplayPeriod4"></p>
            <p id="periodDisplayTimeStart4"></p>
            <p id="periodDisplayEnd4"></p>
        </ul>
        <br>
        <ul>
            <p id="periodDisplayPeriod5"></p>
            <p id="periodDisplayTimeStart5"></p>
            <p id="periodDisplayEnd5"></p>
        </ul>
        <br>
        <ul>
            <p id="periodDisplayPeriod6"></p>
            <p id="periodDisplayTimeStart6"></p>
            <p id="periodDisplayEnd6"></p>
        </ul>
        <br>
        <ul>
            <p id="periodDisplayPeriod7"></p>
            <p id="periodDisplayTimeStart7"></p>
            <p id="periodDisplayEnd7"></p>
        </ul>
        <br>
        <ul>
            <p id="periodDisplayPeriod8"></p>
            <p id="periodDisplayTimeStart8"></p>
            <p id="periodDisplayEnd8"></p>
        </ul>
        <br>
        <ul>
            <p id="periodDisplayPeriod9"></p>
            <p id="periodDisplayTimeStart9"></p>
            <p id="periodDisplayEnd9"></p>
        </ul>
        
        <h4>Now retrieve the day...</h4>
        <p>Which day?</p>
        <input type="text" id="dayRetrieveDay"></input>
        <br>
        <button id="dayRetrieveButton">Get day</button>
        <p class="error" id="dayGetError"></p>
        <p class="success" id="dayGetSuccess"></p>
        <ul>
            <p id="courseDisplayPeriod0"></p>
            <p id="courseDisplayCourse0"></p>
            <p id="courseDisplayTimeStart0"></p>
            <p id="courseDisplayEnd0"></p>
        </ul>
        <br>
        <ul>
            <p id="courseDisplayPeriod1"></p>
            <p id="courseDisplayCourse1"></p>
            <p id="courseDisplayTimeStart1"></p>
            <p id="courseDisplayEnd1"></p>
        </ul>
        <br>
        <ul>
            <p id="courseDisplayPeriod2"></p>
            <p id="courseDisplayCourse2"></p>
            <p id="courseDisplayTimeStart2"></p>
            <p id="courseDisplayEnd2"></p>
        </ul>
        <br>
        <ul>
            <p id="courseDisplayPeriod3"></p>
            <p id="courseDisplayCourse3"></p>
            <p id="courseDisplayTimeStart3"></p>
            <p id="courseDisplayEnd3"></p>
        </ul>
        <br>
        <ul>
            <p id="courseDisplayPeriod4"></p>
            <p id="courseDisplayCourse4"></p>
            <p id="courseDisplayTimeStart4"></p>
            <p id="courseDisplayEnd4"></p>
        </ul>
        <br>
        <ul>
            <p id="courseDisplayPeriod5"></p>
            <p id="courseDisplayCourse5"></p>
            <p id="courseDisplayTimeStart5"></p>
            <p id="courseDisplayEnd5"></p>
        </ul>
        <br>
        <ul>
            <p id="courseDisplayPeriod6"></p>
            <p id="courseDisplayCourse6"></p>
            <p id="courseDisplayTimeStart6"></p>
            <p id="courseDisplayEnd6"></p>
        </ul>
        <br>
        <ul>
            <p id="courseDisplayPeriod7"></p>
            <p id="courseDisplayCourse7"></p>
            <p id="courseDisplayTimeStart7"></p>
            <p id="courseDisplayEnd7"></p>
        </ul>
        <br>
        <ul>
            <p id="courseDisplayPeriod8"></p>
            <p id="courseDisplayCourse8"></p>
            <p id="courseDisplayTimeStart8"></p>
            <p id="courseDisplayEnd8"></p>
        </ul>
        <br>
        <ul>
            <p id="courseDisplayPeriod9"></p>
            <p id="courseDisplayCourse9"></p>
            <p id="courseDisplayTimeStart9"></p>
            <p id="courseDisplayEnd9"></p>
        </ul>
        
        <h1 id="currentTime"></h1>
        <h1 id="timeUntil"></h1>
        
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
    </main>
</body>
<script type="text/javascript" src="../main.js"></script>
</html>