<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../styles/compat.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <% if (!user) { %>
            <li><a href="/auth/login">Login</a></li>
            <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/profile/dashboard">Dashboard</a></li>
            <li><a href="/profile/front-dashboard">Nova</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to the beta of class-planner, or Loop!</h1>
    </header>
    <main>
        <h2>Here's how you use it:</h2>
        <ul>
            <h4>> Press LOGIN to login with your Google account, and confirm you're logged in by checking your PROFILE</h4>
            <h4>> Configure your dashboard by clicking DASHBOARD</h4>
            <h4>> View it by pressing NOVA</h4>
            <h4>> Report any issues on the <a href="https://github.com/melkadze/class-planner">GitHub</a> page</h4>
        </ul>
    </main>
</body>
<script type="text/javascript" src="index.js"></script>
</html>