<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop: Login</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    <link rel="icon" type="image/png" href="../assets/svg/smile.svg">
</head>
<body>
    <div class="login__background">
        <div class="login__parent">
            <h2 class="header__text">Welcome to Loop!</h2>
            <h4 class="greeting__headline" id="login__switcher">a complete suite of student organization tools</h4>
            <form action="/auth/google">
                <button class="ui button google-auth__button" href="/auth/google">
                  <img class="google-auth__logo" src="../assets/svg/google.svg" />
                  Sign in with Google
                </button>
            </form>
            <h5>By siging in, you agree to our <a href="https://www.privacypolicygenerator.info/live.php?token=bsgvp8zV8irM1YFPsFHcbE2QlbzVblMs">privacy policy</a>.</h5>
        </div>
    </div>
    <script type="module" src="../scripts/main.js"></script>
</body>
</html>