<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../styles/compat.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <% if (!user) { %>
            <li><a href="/auth/login">Login</a></li>
            <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/profile/dashboard">Dashboard</a></li>
            <li><a href="/profile/front-dashboard">Nova</a></li>
        </ul>
    </nav>
    <header>
        <h1>Log in with...</h1>
    </header>
    <main>
        <a class="google-auth-btn" href="/auth/google">Google</a>
    </main>
</body>
</html>