<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="../styles/compat.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
                <% if (!user) { %>
                <li><a href="/auth/login">Login</a></li>
                <% } else { %>
                <li><a href="/auth/logout">Logout</a></li>
                <% } %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/profile/dashboard">Dashboard</a></li>
                <li><a href="/profile/front-dashboard">Nova</a></li>
            </ul>
        </nav>
        <header>
            <h1>Welcome, <img src="<%= user.thumbnailURL %>" alt=""><%= user.username %>.</h1>
        </header>
    </body>
</html>