$blue-dark-shade: #33384d;
$blue-accent-shade: #909ed6;
$blue-primary: #aabbff;
$blue-accent-tint: #dee4ff;
$violet-dark-shade: #3a364d;
$violet-accent-shade: #9a8fcc;
$violet-primary: #b8abf5;
$violet-accent-tint: #eae6ff;
$cyan-dark-shade: #36494d;
$cyan-accent-shade: #8fc2cc;
$cyan-primary: #abe9f5;
$cyan-accent-tint: #e6fbff;
$green-dark-shade: #36494d;
$green-accent-shade: #85c7aa;
$green-primary: #a0efcc;
$green-accent-tint: #defff0;
$yellow-dark-shade: #4d4732;
$yellow-accent-shade: #d6c890;
$yellow-primary: #ffeeab;
$yellow-accent-tint: #fff8de;
$red-primary: #ff6767;
$red-accent-shade: #b14242;
$white: #fbfbf8;
$light-gray: #f5f5f5;
$dark-gray: #a8a8a8;
