//Primary Colors
$blue-dark-shade: #1f2e4d;
$blue-accent-shade: #4b71bd;
$blue-primary: #5c8ae6;
$blue-accent-tint: #93b4f5;
//Complementary Colors
$orange-dark-shade: #4d3b17;
$orange-accent-shade: #c7983c;
$orange-primary: #f0b848;
$orange-accent-tint: #ffd580;
//Analogous Colors
$cyan-dark-shade: #26464d;
$cyan-accent-shade: #5eadbd;
$cyan-primary: #73d2e6;
$cyan-accent-tint: #abe9f5;

$violet-dark-shade: #2d264d;
$violet-accent-shade: #6e5ebd;
$violet-primary: #8673e6;
$violet-accent-tint: #b8abf5;
//Triadic Colors
$purple-dark-shade: #391f4d;
$purple-accent-shade: #8e4bbd;
$purple-primary: #ac5ce6;
$purple-accent-tint: #cc93f5;

$pink-dark-shade: #4d1f2e;
$pink-accent-shade: #bd4b71;
$pink-primary: #bd4b71;
$pink-accent-tint: #f593b4;

//Other Colors
$white: #fbfbf8;
$black: #202030;
