@use 'color';
@use 'effects';
@use 'grid';
@use 'typography';
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
body {
  overflow-x: hidden;
}
.global--dashboard {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15% auto;
  grid-template-rows: 5vw auto;
}
.navigation--side {
  @include grid.grid-position(1, 1, 1, 2);
  align-items: center;
  justify-items: center;
  background-color: color.$blue-dark-shade;
  padding: 1.25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation__logo {
  height: 5vw;
  width: 5vw;
  -webkit-mask-image: url(../assets/svg/logo.svg);
  mask-image: url(../assets/svg/logo.svg);
  background-color: color.$blue-accent-tint;
}
.navigation__logo:hover {
  background-color: color.$blue-primary;
}
.navigation__button--active {
  .navigation__icon {
    background-color: color.$blue-primary;
  }
  .navigation__text {
    color: color.$blue-primary;
  }
}
.navigation__button:hover {
  .navigation__icon {
    background-color: color.$blue-primary;
  }
  .navigation__text {
    color: color.$blue-primary;
  }
}
.navigation__icon {
  height: 2.5vw;
  width: 2.5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navigation__icon--dashboard {
  -webkit-mask-image: url(../assets/svg/dashboard.svg);
  mask-image: url(../assets/svg/dashboard.svg);
  background-color: color.$blue-accent-tint;
}
.navigation__icon--calendar {
  -webkit-mask-image: url(../assets/svg/calendar.svg);
  mask-image: url(../assets/svg/calendar.svg);
  background-color: color.$blue-accent-tint;
}
.navigation__icon--courses {
  -webkit-mask-image: url(../assets/svg/book.svg);
  mask-image: url(../assets/svg/book.svg);
  background-color: color.$blue-accent-tint;
}
.navigation__icon--clock {
  -webkit-mask-image: url(../assets/svg/clock.svg);
  mask-image: url(../assets/svg/clock.svg);
  background-color: color.$blue-accent-tint;
}
.navigation__icon--settings {
  -webkit-mask-image: url(../assets/svg/cog.svg);
  mask-image: url(../assets/svg/cog.svg);
  background-color: color.$blue-accent-tint;
}
.navigation__text {
  @include typography.button();
  color: color.$blue-accent-tint;
  text-align: center;
  margin-bottom: 2.5vw;
}
.header {
  justify-items: center;
  align-items: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__profile {
  display: flex;
  flex-direction: row;
}
.header__text {
  @include typography.headline-2();
  color: color.$blue-dark-shade;
}
.header__icon {
  height: 2.5vw;
  width: 2.5vw;
  margin-left: 1.25vw;
  margin-right: 1.25vw;
  display: block;
  cursor: grab;
}
.header__icon:hover {
  background-color: color.$blue-primary;
}
.header__icon--notifications {
  -webkit-mask-image: url(../assets/svg/bell.svg);
  mask-image: url(../assets/svg/bell.svg);
  background-color: color.$blue-dark-shade;
}
.header__icon--profile {
  -webkit-mask-image: url(../assets/svg/user.svg);
  mask-image: url(../assets/svg/user.svg);
  background-color: color.$blue-dark-shade;
}
.dashboard {
  @include grid.grid(12, 1vw, 12, 1vw);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 2.5vw;
}
.greeting {
  @include grid.grid-position(1, 9, 1, 3);
  @include effects.drop-shadow();
  border-radius: 0.5vw;
  background-color: color.$blue-accent-tint;
  padding: 2.5vw 2.5vw 0 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.greeting__headline {
  @include typography.headline-4();
  color: color.$blue-dark-shade;
}
.greeting__subtitle {
  @include typography.subtitle-1();
  padding-top: 0.5vw;
  color: color.$blue-dark-shade;
}
.greeting__subtitle--alternative {
  @include typography.subtitle-2();
  color: color.$blue-dark-shade;
}
#greeting__update__title {
  font-size: 1.6rem;
  position: absolute;
  bottom: 6rem;
}
#greeting__update {
  font-size: 1.4rem;
  position: absolute;
  bottom: 4rem;
}
.greeting__image {
  height: 10vw;
  right: 0;
  bottom: 0;
}
.calendar {
  @include effects.drop-shadow();
  @include grid.grid-position(1, 4, 4, 6);
  @include grid.grid(7, 0.5vw, 8, 0.5vw);
  align-items: center;
  justify-items: center;
  padding: 1.25vw;
  border-radius: 0.5vw;
  background-color: color.$light-gray;
}
.calendar__headline {
  @include typography.headline-5();
  @include grid.grid-position(1, 5, 1, 1);
  justify-self: start;
  color: color.$blue-dark-shade;
}
.calendar__button {
  position: relative;
  outline: 0;
  width: 75%;
  height: 0;
  padding-top: 75%;
  border-radius: 50%;
  background-color: color.$blue-primary;
  border: none;
  @include effects.drop-shadow();
}
.calendar__button:hover {
  background-color: color.$blue-dark-shade;
  cursor: grab;
}
.page__container {
  display: none; //flex
}
.page__button {
  position: relative;
  outline: 0;
  width: 75%;
  height: 75%;
  padding-top: 50%;
  border-radius: 50%;
  background-color: color.$blue-primary;
  border: none;
  transform: scale(0.5);
  @include effects.drop-shadow();
}
.page__button:hover {
  background-color: color.$blue-dark-shade;
  cursor: grab;
}
.calendar__icon {
  height: 75%;
  width: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page__icon {
  height: 75%;
  width: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.calendar__weekdays {
  @include typography.headline-6();
  color: color.$blue-primary;
}
.calendar__day {
  @include typography.body-1();
  color: color.$blue-dark-shade;
}
.calendar__day--inactive {
  @include typography.body-1();
  color: color.$dark-gray;
}
.calendar__day--container {
  position: relative;
  width: 75%;
  height: 0;
  padding-top: 75%;
  border-radius: 50%;
  background-color: color.$blue-primary;
}
.calendar__day--today {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calendar__day--container--emphasized {
  position: relative;
  width: 75%;
  height: 0;
  padding-top: 75%;
  border-radius: 50%;
  background-color: color.$yellow-primary;
}
.calendar__day--emphasized {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alarms {
  @include effects.drop-shadow();
  @include grid.grid-position(5, 5, 4, 6);
  border-radius: 0.5vw;
  background-color: color.$light-gray;
  padding: 1.25vw;
}
.alarms__headline {
  @include typography.headline-5();
  color: color.$blue-dark-shade;
  padding-top: 1vw;
  padding-bottom: 2vw;
}
.alarms__container {
  display: flex;
  flex-direction: row;
}
.alarms__digital {
  @include typography.headline-6();
  color: color.$blue-dark-shade;
  text-align: center;
  padding-top: 1vw;
}
.alarms__time {
  display: inline-block;
}
.alarms__grid {
  @include grid.grid(1, 0, 3, 1.25vw);
  width: 100%;
  padding-left: 1vw;
}
.alarms__module {
  @include effects.drop-shadow();
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  background-color: color.$white;
  padding: 1.25vw;
  display: none; //flex
  flex-direction: row;
}
#alarms__module1 {
  display: flex;
}
.alarms__container--icon {
  height: 0;
  width: 25%;
  padding-top: 25%;
  position: relative;
  border-radius: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}
.alarms__container--green {
  background-color: color.$green-primary;
}
.alarms__container--cyan {
  background-color: color.$cyan-primary;
}
.alarms__container--blue {
  background-color: color.$blue-primary;
}
.alarms__icon {
  height: 65%;
  width: 65%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.alarms__container--icon:hover {
  background-color: #ff6767;
  cursor: pointer;
}
.alarms__container--icon:hover .alarms__icon {
  content: url("../assets/svg/trash.svg");
}
.tasks__container--icon:hover {
  background-color: #ff6767;
  cursor: pointer;
}
.tasks__container--icon:hover .tasks__icon {
  content: url("../assets/svg/trash.svg");
}
.alarms__text {
  padding-left: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
}
.alarms__timer {
  @include typography.headline-6();
  color: color.$blue-dark-shade;
}
.alarms__title {
  @include typography.subtitle-1();
  color: color.$blue-dark-shade;
}
.clock {
  @include effects.drop-shadow();
  width: 16vw;
  height: 16vw;
  background: color.$white url(../assets/svg/clock-face.svg);
  background-size: cover;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.75vw solid color.$white;
  box-shadow: inset 0 0 30px rgba(color.$dark-gray, 10%);
}
.clock::before {
  content: "";
  position: absolute;
  height: 0.75vw;
  width: 0.75vw;
  background-color: color.$dark-gray;
  border-radius: 50%;
  border: 2px solid color.$white;
  z-index: 4;
}
.clock__container {
  position: absolute;
}
.clock__container--hour {
  height: 8vw;
  width: 8vw;
}
.clock__container--minute {
  height: 10vw;
  width: 10vw;
}
.clock__container--second {
  height: 12.5vw;
  width: 12.5vw;
}
.clock__hour {
  height: 8vw;
  width: 8vw;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.clock__hour::before {
  content: "";
  position: absolute;
  width: 0.4vw;
  height: 4vw;
  background-color: color.$blue-dark-shade;
  z-index: 1;
  border-radius: 0.2vw;
}
.clock__minute {
  height: 10vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.clock__minute::before {
  content: "";
  position: absolute;
  width: 0.2vw;
  height: 5vw;
  background-color: color.$dark-gray;
  z-index: 2;
  border-radius: 0.1vw;
}
.clock__second {
  height: 12.5vw;
  width: 12.5vw;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.clock__second::before {
  content: "";
  position: absolute;
  width: 0.1vw;
  height: 8vw;
  background-color: color.$red-primary;
  z-index: 3;
  border-radius: 0.05vw;
}
.course__headline {
  @include grid.grid-position(1, 9, 10, 1);
  @include typography.headline-5();
  color: color.$blue-dark-shade;
  align-self: center;
  display: none; //grid
}
.course__container {
  @include effects.drop-shadow();
  border-radius: 0.5vw;
  padding: 1.25vw;
  display: none; //display: flex
  flex-direction: row;
  justify-content: flex-start;
}
.course__container--first {
  @include grid.grid-position(1, 3, 11, 2);
  background-color: color.$green-primary;
}
.course__container--second {
  @include grid.grid-position(4, 3, 11, 2);
  background-color: color.$cyan-primary;
}
.course__container--third {
  @include grid.grid-position(7, 3, 11, 2);
  background-color: color.$blue-primary;
}
.course__container--icon {
  position: relative;
  height: 0;
  width: 25%;
  padding-top: 25%;
  border-radius: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}
.course__container--green {
  background-color: color.$green-accent-shade;
}
.course__container--cyan {
  background-color: color.$cyan-accent-shade;
}
.course__container--blue {
  background-color: color.$blue-accent-shade;
}
.course__icon {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.course__text {
  padding-left: 1.25vw;
  margin-top: auto;
  margin-bottom: auto;
}
.course__title {
  @include typography.headline-6();
  color: color.$blue-dark-shade;
}
.course__subtitle {
  @include typography.subtitle-2();
  color: color.$blue-dark-shade;
  padding-top: 0.5vw;
}
.tasks {
  @include effects.drop-shadow();
  @include grid.grid-position(10, 3, 1, 12);
  border-radius: 0.5vw;
  background-color: color.$light-gray;
  padding: 1.25vw;
}
.tasks__headline {
  @include typography.headline-5();
  color: color.$blue-dark-shade;
  padding-bottom: 0.5vw;
}
.tasks__grid {
  @include grid.grid(1, 0, 4, 1vw);
  height: 90%;
}
.tasks__container {
  @include effects.drop-shadow();
  background-color: color.$white;
  border-radius: 0.5vw;
  padding: 1.25vw;
  display: none; //flex
  flex-direction: row;
}
.tasks__container--icon {
  position: relative;
  height: 0;
  width: 25%;
  padding-top: 25%;
  border-radius: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}
.tasks__container--context--icon {
  position: relative;
  height: 0;
  width: 25%;
  padding-top: 25%;
  border-radius: 0.5vw;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
  margin: auto;
}
.tasks__container--green {
  background-color: color.$green-primary;
}
.tasks__container--cyan {
  background-color: color.$cyan-primary;
}
.tasks__container--blue {
  background-color: color.$blue-primary;
}
.tasks__container--violet {
  background-color: color.$violet-primary;
}
.plus__container {
  padding: 0.1vw !important;
  background-color: color.$green-primary !important;
}
.plus__container__back {
  background-color: color.$white !important;
  padding: 1.3vw !important;
  display: none; //flex
  height: 100%;
  width: 100%;
  border-radius: 0.5vw;
}
.plus__text {
  margin: auto !important;
}
.plus__title {
  color: color.$white !important;
  font-size: 10rem !important;
}
#plus__title__event {
  font-size: 8rem !important;
}
.plus__container:hover  {
  background-color: color.$green-accent-shade !important;
  cursor: pointer !important;
}
.plus__container:hover #plus__title {
  color: color.$light-gray !important;
}
.plus__container__parent {
  display: flex;
  flex-direction: column;
}
.plus__container--icon__parent {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.plus__container--icon {
  margin: auto;
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 0.5vw;
  flex-shrink: 0;
}
.plus__container--icon__check {
  background-color: color.$green-primary;
}
.plus__container--icon__cross {
  background-color: color.$red-primary;
}
.plus__container--icon__check:hover {
  background-color: color.$green-accent-shade;
  cursor: pointer;
}
.plus__container--icon__cross:hover {
  background-color: color.$red-accent-shade;
  cursor: pointer;
}
.plus__container__error {
  color: color.$red-primary !important;
}
.tasks__icon {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tasks__text {
  padding-left: 1.25vw;
  margin-top: auto;
  margin-bottom: auto;
}
.tasks__title {
  @include typography.headline-6();
  color: color.$blue-dark-shade;
}
.tasks__subtitle {
  @include typography.subtitle-2();
  color: color.$blue-dark-shade;
}
.material__group { 
  position: relative; 
  margin-bottom: 3rem;
}
.material__input {
  font-size: 1.7rem;
  padding: 1rem 1rem 0.3rem 0.5rem;
  display: block;
  width: 85%;
  border: none;
  border-bottom: 0.1rem solid #757575;
  background-color: color.$white;
}
.material__input:focus {
  outline: none;
}
.material__label {
  color: #999; 
  font-size: 1.7rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.5rem;
  top: 0.8rem;
  transition: 0.2s ease all; 
}
.material__input:focus ~ .material__label, .material__input:valid ~ .material__label {
  top: -1.5rem;
  font-size: 1.3rem;
  color: #5264AE;
}
.material__bar 	{
  position: relative;
  display: block;
  width: 85%;
}
.material__bar:before, .material__bar:after 	{
  content: '';
  height: 0.2rem; 
  width: 0;
  bottom: 0.1rem; 
  position: absolute;
  background: #5264AE; 
  transition: 0.2s ease all;
}
.material__bar:before {
  left: 50%;
}
.material__bar:after {
  right: 50%; 
}
.material__input:focus ~ .material__bar:before, .material__input:focus ~ .material__bar:after {
  width: 50%;
}
#events__plus__container__back {
  @include effects.drop-shadow();
  padding: 0.3vw !important;
}
#events__plus__container__back .page__container {
  display: flex !important;
  width: 10rem;
  margin: auto;
  transform: scale(1.4);
}
#events__plus__container__back .material__group {
  margin: 2rem auto auto 1rem;
  display: none;
  z-index: 10;
}
#events__plus__container__back .material__bar {
  display: none !important;
}
#events__plus__container__back .material__input {
  padding-top: 0;
  font-size: 2rem; //dodksokdoksdosdkosdkosdkosdk
  height: 100%;
}
#events__plus__container__back .material__input:focus ~ .material__label, .material__input:valid ~ .material__label {
  top: -2rem !important;
}
#events__plus__container__back .material__label {
  top: 0.5rem;
}
#events__plus__container__back .plus__container--icon {
  padding: 15%;
  margin: auto;
}
#events__plus__container__back .events__icon {
  margin: auto 1rem auto 1rem;
}