@use "color";
@use "grid";
@use "typography";
nav {
  background-color: color.$white;
  -webkit-box-shadow: 0 10px 20px rgba(color.$dark-gray, 0.15);
          box-shadow: 0 10px 20px rgba(color.$dark-gray, 0.15);
}
.nav {
  @include grid.grid(12, 24px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 80px;
  margin: 0 7.5vw;
}
.nav__logo-container {
  @include grid.grid-position(1, 2, 1, 1);
  -ms-grid-column-align: start;
      justify-self: start;
}
.nav__text-container {
  @include grid.grid-position(3, 5, 1, 1);
  @include grid.space-between();
  width: 100%;
  text-align: justify;
}
.nav__icon-container {
  @include grid.grid-position(11, 1, 1, 1);
}
.nav__icon-container--col-12 {
  -ms-grid-column: 12;
      grid-column-start: 12;
}
.nav__text {
  @include typography.headline-6();
  text-decoration: none;
  color: color.$black;
}
.nav__icon {
  height: 60%;
  width: 60%;
}